<h1>Delete Event Categories</h1>

<form method="post">
    @foreach (var evt in ViewBag.eventCategories)
    {
        <div class="form-group">
            <label>
                <span>@evt.Name</span>
                <input type="checkbox" name="eventCategoriesIds" value="@evt.Id" class="form-control">
                @* name - name should be exactly the same name that Conroller receoves parameter *@
            </label>
        </div>
    }

    <input type="submit" value="Delete Selected Events Categories" class="btn btn-danger">

</form>